#login-button{
    margin: auto;
    text-decoration: none;
    border-radius: 10px;
    background-color: green;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    padding: 8px;
    margin-bottom: 5px;
}
#login-button-div{
    display: flex;
}
#signup-button{
    text-decoration: none;
    background-color: green;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 8px;
}

